@font-face {
    font-family: 'ACROTSRG';
    src: url('/fonts/ACROTSRG.ttf') format('truetype');
  }
  
  .font-acrotsrg {
    font-family: 'ACROTSRG', sans-serif;
  }
.cor{
  background: #7c96ff;
  background: #5d78e4;
}

  